<div class="header-actions">
 <!-- Логотип на сайте -->
  <img src="{{ 'assets/logo.jpg' }}" alt="Описание изображения" class="reduced-image">

  <!-- Первый текст  -->
   <!--<br> разделение по строчкам-->
  <p style="margin-right: 100px">Грузоперевозки любых <br>типов по России и СНГ.<br>Работаем с 2021</p>

<!-- Кнопка один  -->
  <button (click)="sendMessage()" style="margin-right: 100px; padding: 10px 30px; font-size: 15px;">
      скачать прайс-каталог
  </button>

  <!-- Изменение кнопок на нормальные иконки  -->
  <div style="margin-right: 10px">
    <p>Задайте вопрос, мы онлайн</p>
    <div>
      <a href="https://t.me/ваш_канал" target="_blank" class="icon-button" style="margin-right: 10px;">
        <i class="fab fa-telegram-plane"></i>
      </a>
      <a href="https://wa.me/ваш_номер" target="_blank" class="icon-button">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>
  
  <style>
    .icon-button {
      display: inline-block;
      text-decoration: none;
      color: #007bff; /* Цвет иконок Telegram */
      font-size: 30px; /* Увеличиваем размер иконок */
    }
  
    .icon-button:hover {
      color: #0056b3; /* Цвет иконок Telegram при наведении */
    }
  
    .icon-button i.fa-whatsapp {
      color: #25d366; /* Цвет иконок WhatsApp */
    }
  
    .icon-button i.fa-whatsapp:hover {
      color: #1da851; /* Цвет иконок WhatsApp при наведении */
    }
  </style>
  


<div style="margin-right: 10px">
<p>звоните Пн-Пт: 10:00-19:00 </p>
  <div>
    <button style="margin-right: 10px">
          заказать звонок
    </button>
  </div>
</div>
