<div class="header-actions">
 <!-- Логотип на сайте -->
  <img src="{{ 'assets/logo.jpg' }}" alt="Описание изображения" class="reduced-image">

  <!-- Первый текст  -->
   <!--<br> разделение по строчкам-->
  <p style="margin-right: 100px">Грузоперевозки любых <br>типов по России и СНГ.<br>Работаем с 2021</p>

<!-- Кнопка один  -->
  <button (click)="sendMessage()" style="margin-right: 100px; padding: 10px 30px; font-size: 15px;">
      скачать прайс-каталог
  </button>

  
<div style="margin-right: 10px">
  <p >Задайте вопрос, мы онлайн</p>
  <div>
      <button style="margin-right: 10px">
          телега
      </button>
      <button>
          ватцап
      </button>
  </div>
</div>
<div style="margin-right: 10px">
<p>звоните Пн-Пт: 10:00-19:00 </p>
  <div>
    <button style="margin-right: 10px">
          заказать звонок
    </button>
  </div>
</div>
